<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>test</h2>
    <h1>
      <div style="background-color: aqua; color: black; padding: 20.0 px ;">
        <% for( let Artical of AllArticales ) { %>
          <%= Artical.title   %>
          <br>
        <% } %>
      </div>

    </h1>
</body>
</html>